@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.quicksand-uniquifier {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Header Style Start */
header {
  margin: 0 auto;
  width: 1160px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container i {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h2 {
  font-weight: bold;
  font-size: 32px;
}
.nav-list ul {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
.nav-list ul a {
  text-decoration: none;
}
.nav-list ul li {
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}
.btn1 {
  width: 197px;
  height: 50px;
  background-color: #fea301;
  color: #ffffff;
  border-radius: 12px;
  border: none;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 20px;
}
/* Header Style End */

/* Banner Section Start*/
.banner {
  width: 1158.61px;
  height: 575px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.banner-image img {
  width: 468.61px;
}
.title-description {
  width: 640px;
  height: 183px;
  margin-top: -200px;
}
.title-description h1 {
  font-weight: bold;
  font-size: 56px;
}
.title-description p {
  font-size: 20px;
  font-weight: normal;
}
.btn2 {
  width: 197px;
  height: 50px;
  background-color: black;
  color: #ffffff;
  border-radius: 12px;
  border: none;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 20px;
}
/* Banner Section End*/

/* Main Section Start */

/* Main Section End */
.standard-section {
  height: 879px;
  margin: 0 auto;
  width: 1160px;
  background-image: url(assets/bg.png);
}
.standard-section h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.standard-section .card {
  height: 481.5px;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 80px;
}
.card1 {
  height: 476.78px;
  width: 367.8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background: linear-gradient(#def5ff, #ffffff);
  box-shadow: 2px 2px 6px #000000;
  border-radius: 18.86px;
}
.card1 img {
  height: 136.76px;
  width: 136.76px;
  margin-top: 35px;
  margin-bottom: 40px;
}
.card1 h2 {
  font-weight: bold;
  font-size: 24.52px;
  margin-bottom: 40px;
}
.card1 p {
  font-size: 15.09px;
  font-weight: 600;
  width: 286.26px;
  height: 74.51px;
  margin: 0 auto;
  opacity: 0.5;
  line-height: 24px;
  margin-bottom: 40px;
}
.card1 h3 {
  font-size: 15.09px;
  font-weight: bold;
  color: #64c8ff;
}

.card2 {
  height: 476.78px;
  width: 367.8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background: linear-gradient(#fff4dc, #ffffff);
  box-shadow: 2px 2px 6px #000000;
  border-radius: 18.86px;
}
.card2 img {
  height: 136.76px;
  width: 136.76px;
  margin-top: 35px;
  margin-bottom: 40px;
}
.card2 h2 {
  font-weight: bold;
  font-size: 24.52px;
  margin-bottom: 40px;
}
.card2 p {
  font-size: 15.09px;
  font-weight: 600;
  width: 286.26px;
  height: 74.51px;
  margin: 0 auto;
  opacity: 0.5;
  line-height: 24px;
  margin-bottom: 40px;
}
.card2 h3 {
  font-size: 15.09px;
  font-weight: bold;
  color: #f0aa00;
}

.card3 {
  height: 476.78px;
  width: 367.8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background: linear-gradient(#f2e8ff, #ffffff);
  box-shadow: 2px 2px 6px #000000;
  border-radius: 18.86px;
}
.card3 img {
  height: 136.76px;
  width: 136.76px;
  margin-top: 35px;
  margin-bottom: 40px;
}
.card3 h2 {
  font-weight: bold;
  font-size: 24.52px;
  margin-bottom: 40px;
}
.card3 p {
  font-size: 15.09px;
  font-weight: 600;
  width: 286.26px;
  height: 74.51px;
  margin: 0 auto;
  opacity: 0.5;
  line-height: 24px;
  margin-bottom: 40px;
}
.card3 h3 {
  font-size: 15.09px;
  font-weight: bold;
  color: #8700ff;
}

.arrow-icon {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  color: #ffffff;
}
.arrow1 {
  background-color: #f0aa00;
  font-size: 50px;
  font-weight: 500;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.arrow2 {
  background-color: #f0aa00;
  font-size: 50px;
  font-weight: 500;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
/* Hero Section */
.hero-section {
  height: 1018.82px;
  margin: 0 auto;
  width: 1160px;
  background-image: url(assets/bg.png);
  background: linear-gradient(#ffffff, #fea10108);
}
.Hero-Card {
  display: flex;
  gap: 30px;
}
.hero-section h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.main-card {
  height: 630.52px;
  width: 540.27px;
  border-radius: 16px;
  box-shadow: 2px 2px 6px #000000;
}
.main-card .hb1 {
  height: 47.93px;
  width: 174.51px;
  color: white;
  font-size: 15.34px;
  font-weight: 600;
  background-color: #3cd8e8;
  border: none;
  border-radius: 47.93px;
  margin-top: -90px;
  margin-left: 70px;
  margin-bottom: 40px;
}
.main-card img {
  height: 337px;
  width: 540px;
  border-radius: 6px;
}
.main-card h2 {
  width: 402.49px;
  height: 69.98px;
  line-height: 38.3px;
  font-weight: bold;
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.main-card p {
  height: 75.74px;
  width: 433.06px;
  line-height: 28.8px;
  font-size: 15.34px;
  font-weight: 600;
  margin: 0 auto;
  opacity: 0.6;
}
.num1 {
  height: 301.61px;
  width: 290.69px;
  box-shadow: 2px 2px 6px #000000;
  border-radius: 16px;
}
.num1 .hb2 {
  height: 38.35px;
  width: 174.51px;
  font-size: 15.44px;
  font-weight: 600;
  color: #ffffff;
  background-color: #95b226;
  border-radius: 47.93px;
  border: none;
  margin-top: -80px;
  margin-left: 20px;
}
.num1 p {
  height: 47.93px;
  width: 198.04px;
  font-size: 15.34px;
  line-height: 28.8px;
  margin-left: 30px;
}

.num2 {
  height: 301.61px;
  width: 290.69px;
  box-shadow: 2px 2px 6px #000000;
  border-radius: 16px;
}
.num2 .hb3 {
  height: 38.35px;
  width: 174.51px;
  font-size: 15.44px;
  font-weight: 600;
  color: #ffffff;
  background-color: #5d58f0;
  border-radius: 47.93px;
  border: none;
  margin-top: -80px;
  margin-left: 20px;
}
.num2 p {
  height: 47.93px;
  width: 198.04px;
  font-size: 15.34px;
  line-height: 28.8px;
  margin-left: 30px;
}
.num3 {
  height: 301.61px;
  width: 290.69px;
  box-shadow: 2px 2px 6px #000000;
  border-radius: 16px;
}
.num3 .hb4 {
  height: 38.35px;
  width: 174.51px;
  font-size: 15.44px;
  font-weight: 600;
  color: #ffffff;
  background-color: #95b226;
  border-radius: 47.93px;
  border: none;
  margin-top: -80px;
  margin-left: 20px;
}
.num3 p {
  height: 47.93px;
  width: 190.68px;
  font-size: 15.34px;
  line-height: 28.8px;
  margin-left: 30px;
}
.num4 {
  height: 301.61px;
  width: 290.69px;
  box-shadow: 2px 2px 6px #000000;
  border-radius: 16px;
}
.num4 .hb5 {
  height: 38.35px;
  width: 174.51px;
  font-size: 15.44px;
  font-weight: 600;
  color: #ffffff;
  background-color: #95b226;
  border-radius: 47.93px;
  border: none;
  margin-top: -80px;
  margin-left: 20px;
}
.num4 p {
  height: 47.93px;
  width: 198.04px;
  line-height: 28.8px;
  font-size: 15.34px;
  margin-left: 30px;
}
.four-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.main-button {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
}
.main-btn {
  color: #ffffff;
  height: 50px;
  width: 197px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  background-color: #000000;
}
/* Hero Section End */

/* Footer Style Start */
.footer { 
  margin: 0 auto;
  height: 519px;
  width: 1140px;
  justify-content: center;
  align-items: center;
  background-color: #01acfd;
  padding: 124px;
  display: flex;
  justify-content: space-evenly;
}
.logo-img {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo-img img {
  height: 81.65px;
  width: 82.9px;
  background: linear-gradient(white, #f0a80009);
}
.logo-img h1 {
  width: 206.11px;
  color: white;
  font-size: 42px;
  font-weight: bold;
}
.p {
  width: 399.02px;
  color: white;
  font-size: 20px;
  font-weight: normal;
  opacity: 0.7;
}
.list {
  color: white;
}
.list h1 {
  font-size: 24px;
  font-weight: bold;
}
.list ul {
  list-style: none;
}
.list li {
  margin-top: 20px;
}
.social {
  color: white;
  margin-top: -120px;
}
.social h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Footer Style End */

/* Responsive Style For Mobile */

@media screen and (max-width: 576px) {
  .logo h2 {
    display: none;
  }
  .nav-list ul {
    display: none;
  }
  .btn1 {
    display: none;
  }
  .container .logo i {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container i {
    display: block;
    font-size: 45px;
  }
  .container {
    border-bottom: 2px solid #fea301;
  }

  header {
    max-width: 390px;
  }
  .logo img {
    height: 46px;
    width: 46px;
    margin-bottom: 30px;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
    gap: 220px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 725px;
    width: 357px;
  }
  .banner-image img {
    height: 413px;
    width: 336.58px;
    align-items: center;
    justify-content: center;
  }
}
